/* 시작레이아웃요소 가운데 배치하는 법 3ro */
/* 1. text-align */
/* 2. margin */
/* 3. flex */
body {
    /* display: flex; justify-content: center; */
    /* text-align: center; */
    /* text-align은 인라인 자식, 자손에만 적용 */
}
main{
    /* display: inline-block; */
    margin: 0  auto;
    width: 402px; min-height: 874px;
    background-image:url(../images/bg.jpg);
    background-size: 100% auto;/* w h */
    background-position:center ;/* x y (px or % or 방향*/
}
main .title {
    text-align: center;
    padding: 120px 0;
}
main .title p {
    font-size: 0.75em;
    letter-spacing: -0.02em;
    margin: 8px;
}
main .title h1 {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: -0.02em;
}
main .contents {
    display: flex;
    flex-flow: column nowrap;
    /* column(메인축-수직) nowrap(메인축 방향으로 줄바꿈안함) */
    align-items: center;
    /* 메인축(수직)의 반대 교차축(수평)이 1줄 일때 가운데 정렬 */
    gap: 6px;
    /* 플렉스 설정 시 자식사이 간격(자식에 주는 margin과 효과 동일) */
    /* 플렉스를 설정한 부모의 자식이 인라인일 경우, 자식이 자동으로 블록으로 인식된다. */
}
main .contents > * {
    width: 300px ; height: 42px;
    border-radius: 8px;
    letter-spacing:-0.02em ;
}
main .contents #user_birthday {
    border: 1px solid #000;
    font-size: 0.875em;
}
main .contents #birthday_result_btn {
    background-color: #242424;
    color: #fff;
    font-weight: 600px;
}